.menu_main{
    background-image: url("https://t3.ftcdn.net/jpg/05/02/10/70/360_F_502107061_JKj0HIYeI2Ag3xNjKCbE2KobpfIURlcX.jpg");
    background-size: cover;
    height: 1000px;
    background-color:rgba(139, 133, 133, 0.884);
    background-color: rgb(237, 172, 149);
    cursor:move;
}